.App {
  /* text-align: center; */
}







div {
  /* background-color:  #F7FD04; */
  border-color: #FC5404;
  border-style: solid;
}

/* h3 {
  text-align: center;
} */


/* button {
  background-color: #F9B208;
  text-align: center;
} */

